@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-VariableFont_wght\ \(1\).woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #1a2a33;
  --color-dark-alternate: #1f3641;
  --color-light: #a8bfc9;
  --color-light-alternate: #979797;
  --color-yellow: #f2b137;
  --color-blue: #31c3bd;
  --color-box-shadow: #000000;

  --box-shadow: 0px 5px var(--color-box-shadow);
  --box-shadow-alternate: 0px 5px var(--color-light-alternate);

  --border-radius: 15px;
  --border-radius-alternate: 10px;

  --font-family-base: "Outfit", sans-serif;

  --transition-duration: 0.3s;

  --container-width: 460px;
  --container-padding-x: 15px;
  --margin-top: 20px;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 700;
}

button,
svg * {
  transition-duration: var(--transition-duration);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  color: var(--color-dark);
}

h1,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  margin-top: 150px;
}

.start-game-head {
  display: flex;
  justify-content: space-between;
  max-height: 52px;
}

.start-game-icon {
  display: flex;
  gap: 0px 10px;
}

.start-game-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 52px;
  margin-right: 20px;
  gap: 0px 10px;
  border-radius: var(--border-radius-alternate);
  font-size: 16px;
  background-color: var(--color-dark-alternate);
  color: var(--color-light);
  box-shadow: var(--box-shadow);
}

.start-game-return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  aspect-ratio: 1;
  border-radius: var(--border-radius-alternate);
  background-color: var(--color-light);
  box-shadow: var(--box-shadow-alternate);
}

.return {
  border: none;
  background-color: var(--color-light);
  background-color: transparent;
}

.start-game-return:hover {
  background-color: var(--color-light-alternate);
  transition-duration: var(--transition-duration);
}

.start-game-body {
  margin-top: var(--margin-top);
  width: 100%;
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 140px);
}

.start-game-field {
  border-radius: var(--border-radius);
  background-color: var(--color-dark-alternate);
  box-shadow: var(--box-shadow);
}

.start-game-foot {
  margin-top: var(--margin-top);
  display: grid;
  width: 100%;
  gap: 20px;

  grid-template-columns: repeat(3, 140px);
  grid-template-rows: 72px;
}

.start-game-point:nth-child(2) {
  background-color: var(--color-light);
}

.start-game-point:nth-child(3) {
  background-color: var(--color-yellow);
}

.start-game-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  font-weight: 500;
}

.start-game-span {
  font-size: 24px;
  font-weight: bold;
}


@keyframes turn-arrow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-image:hover {
  animation: turn-arrow 2s;
}

@media (max-width: 510px) {
  .content {
    margin-top: 40px;
    max-width: 330px;
    display: flex;
    flex-direction: column;
  }
}
